body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topnav {
    
}

.funfact {

}

.intro {

}

.gallery {

}

.gallery-animal {

}
.gallery-animal > img:hover {

}